.guides
    
    &__item
        margin-top 6px
        
        &:first-child
            margin-top 0
        
    &__card
        min-width 290px
        margin 3px
        
        .card__image
            height 150px
            
        .card__title
            height 50px
            
        .card__text
            height 90px