.scroller
    overflow hidden
    clearfix()
    
    
    &__container
        display table
        min-width 100%
        box-sizing border-box
        
        
    &__content
        display table-cell
        vertical-align top
        
        
    &__spinner
        display table-cell
        vertical-align middle
        padding 0 5px
        text-align center