.button
    display inline-block
    font-family inherit
    font-weight 500
    line-height 1
    text-decoration none
    text-align center
    white-space nowrap
    cursor pointer
    border-width 1px
    border-style solid
    border-radius 2px
    box-sizing border-box
    transition .1s


    &:hover
    &:focus
    &:active
        text-decoration none
        outline none


    &:disabled
        cursor default
        opacity .4
        
        
    &_fab
        border-radius 50%
            

    &_size
        &_m
            height 40px
            min-width 40px
            padding 12px 20px
            font-size 16px

            .button__icon
                width 20px
                height 20px
                
            &.button_rounded
                border-radius 20px
                
            &.button_fab
                padding 10px
                
        &_l
            height 44px
            min-width 44px
            padding 14px 20px
            font-size 16px

            .button__icon
                width 20px
                height 20px
                
            &.button_rounded
                border-radius 22px
                
            &.button_fab
                padding 12px
            
        &_xl
            height 50px
            min-width 50px
            padding 17px 20px
            font-size 16px
            text-transform uppercase

            .button__icon
                width 20px
                height 20px
                
            &.button_rounded
                border-radius 25px
                
            &.button_fab
                padding 14px
                
        &_xxl
            height 60px
            min-width 60px
            padding 20px 30px
            font-size 20px

            .button__icon
                width 24px
                height 24px
                
            &.button_rounded
                border-radius 30px
                
            &.button_fab
                padding 18px


    &_width_full
        width 100%
        

    &_shadow_yes
        mixin-material-shadow(1)
        


    &_theme
        &_red
            mixin-button-theme($red_400)
            
        &_green
            mixin-button-theme($green_500)
            
        &_blue
            mixin-button-theme($blue_500)
            
        &_pink
            mixin-button-theme($pink_500)
            
        &_grey
            mixin-button-theme($grey_700)
            
        &_white
            mixin-button-theme($white)
            
        &_white-linear
            mixin-button-theme($white, false)


    &__label
        display inline-block
        vertical-align middle


    &__icon
        display inline-block
        vertical-align middle