.button
	display inline-block
	font-family $font-family
	line-height 1
	text-decoration none
	text-align center
	white-space nowrap
	cursor pointer
	border-radius 2px
	box-sizing border-box
	user-select none
	transition .1s


	&:hover
	&:focus
	&:active
		text-decoration none
		outline none


	&:disabled
		cursor default
		opacity .4
			

	&_size
		&_m
			height 40px
			padding 8px 10px
			font-size 16px

			.button__icon
				width 20px
				height 20px
				
		&_l
			height 44px
			padding 11px
			font-size 16px

			.button__icon
				width 20px
				height 20px
			
		&_xl
			height 50px
			padding 14px
			font-size 16px

			.button__icon
				width 20px
				height 20px


	&_width_full
		width 100%


	&_theme
		&_red
			button-theme-mixin($red)
			
		&_red-light
			button-theme-mixin($red-light)
			
		&_dark
			button-theme-mixin($dark)


	&__text
		display inline-block
		vertical-align middle


	&__icon
		display inline-block
		vertical-align middle