.form
    padding 0
    margin 0

    &__row
        margin-top 10px
        &:first-child
            margin-top 0


    &__item
        position relative

        &-msg
            display inline-block
            min-height 12px
            min-width 1px
            margin-bottom 5px
            float right
            font-size 11px
            visibility hidden

        &_valid
            &_false
                .input__element
                    border-color $red
                .form__item-msg
                    visibility visible
                    color $red

            &_true
                .form__item-icon
                    visibility visible


    &__msg
        margin-top 15px
        display none

    &_valid_false &__msg
        display block
        color $red