.input
    display inline-block
    position relative
    color $gray-dark
    
    
    &__control
        width 100%
        font-family inherit
        color inherit
        background $white
        resize none
        border none
        border-radius 2px
        box-sizing border-box
        
        placeholder-mixin(inherit)

        &:focus
            outline none
            
            
    &__icon
        position absolute
        top 0
        height 100%
        
        &_position
            &_left
                left 0
                
            &_right
                right 0
                
        .icon
            absolute left 25% top 25%
            width 50%
            height 50%
            fill currentColor
            
            
    &__dropdown
        absolute left 0 top 100% right 0
        z-index 2
        white-block-shadow-mixin()


    &_size
        &_l
            input
                height 44px
                padding 13px
                font-size 16px

            textarea
                height 148px
                padding 13px
                font-sze 16px

            select
                padding 13px 0 13px 13px

            option
                padding 13px
                
            &.input_indent_left .input__control
                padding-left 44px
                
            .input__icon
                width 44px
                

    &_width_full
        display block
        

    &_shadow_yes
        box-shadow 0 2px 2px rgba($black, .2)
                

    &_theme_cobalt-light &__control
        color $cobalt-light
        
    &_theme_cobalt-light &__icon
        color $cobalt-light