{% set deps = getClientFiles('input') %}
{% set mods = block.mods|default:{} %}

<label class="input input_size_l input_width_full{% if block.icon %} input_indent_{{ block.icon.position }}{% endif %}">
    <input class="input__element" type="text">
    {% if block.icon %}
        <span class="input__icon input__icon_position_{{ block.icon.position }}">
            {% include deps.views.icon with {block: block.icon} %}
        </span>
    {% endif %}
</label>