/* COLOR */
$white = #fff
$black = #000
$red = #ed4949
$red-light = lighten($red, 10%)
$blue = #0612e9
$blue-light = lighten($blue, 50%)
$yellow = #ffeb62
$orange = #f90
$brown = #d96
$gray = #999
$gray-light = #eaecee
$gray-dark = #777
$dark = #666
$light = #f3f4f5


/* FONT */
$font-family = 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
$font-family-bold = 'Helvetica Neue Bold', Helvetica, Arial, sans-serif
$font-family-italic = 'Helvetica Neue Italic', Helvetica, Arial, sans-serif
$font-family-bolditalic = 'Helvetica Neue BoldItalic', Helvetica, Arial, sans-serif