/* COLOR */
$white = #fff
$black = #000
$red = #ed4949
$blue = #797ff4
$yellow = #ffeb62
$orange = #f90
$brown = #d96
$gray = #999
$gray-light = #eaecee
$gray-dark = #777
$dark = #666
$light = #f3f4f5


/* FONT */
$font-family = Arial, sans-serif