.tabs
    
    &__items
        border-bottom 1px solid $grey_300
        clearfix()
        

    &__item
        float left
        padding 15px 0 11px
        text-transform uppercase
        text-align center
        cursor pointer
        
        
    &__line
        float left
        height 4px
        margin-top -4px
        background-color $red_400
        transition .3s
        
        
    &__content
        clear both
        
            
    &__more
        padding 15px
        text-align center
        border-top 1px solid $grey_300
        
        .button
            border-radius 20px