.index
	&__section
		padding 15px
		
		&_main
			position relative
			min-height 420px
			color $white
			background url($dir-path + '/img/index-bg.png') 0 0 no-repeat
			background-size cover
			box-sizing border-box
			
	
	&__search
		absolute left 15px right 15px bottom 15px
		
		.input__element
			box-shadow 0 1px 2px rgba($black, .2)
			
		.button
			margin-top 80px
			text-transform uppercase
			box-shadow 0 2px 2px rgba($black, .2)
			

	&__interesting
		overflow-x auto
		
		&-items
			display table
		
		&-item
			display table-cell
			padding 2px
			
			&-block
				display block
				width 290px
				height 370px
				background-color $white
				box-shadow 0 1px 2px rgba($black, 0.2)
			
			&-image
				height 150px
				background-size cover
				
				img
					width 100%
					
			&-body
				padding 20px
				
			&-title
				margin 0 0 20px
				height 40px
				overflow hidden
				
				a
					color inherit
					text-decoration none
					
			&-text
				margin 20px 0
				height 85px
				overflow hidden
				
			&-date
				height 15px
				font-size 12px
				color $gray