.share
    padding 15px 7px 7px
    text-align center
    background-color $grey_900
    

    &__button
        display inline-block
        vertical-align top
        margin 0 7px 7px
        
        &_pinteres
            margin-right 50px