.companies
    
    &__item
        border-top 1px solid $grey_300
        
        &:first-child
            border none
            
        &-card
            padding 16px
            clearfix()
        
        &-image
            float right
            display block
            width 70px
            height 70px
            background-color $grey_300
            background-size cover
            
        &-content
            margin-right 86px
            
        &-rating
            margin-bottom 5px
            
        &-title
            margin 3px 0
            
        &-caption
            display block
            margin-top 10px
            color $grey_500
            
        a
            color inherit
            text-decoration none